<div class="container" align="center">
    <h1 (click)="showForm()" style="cursor: pointer;user-select: none;font-weight: bold;">Articles<span style="font-size: 0.9rem;">+</span></h1>
    <div @fade class="container" *ngIf="this.addarticle" align="left">
        <form class="form-login" [formGroup]="addArticle" (ngSubmit)="addArticles()">
            <!-- <h3 class="h3 mb-3 font-weight-normal text-center">Log In</h3> -->
            <div class="form-group">
                <label>UserName</label>
                <input type="text" class="form-control" formControlName="uname" placeholder="Enter Username">
                <br>
                <label>Title</label>
                <input type="text" class="form-control" formControlName="title">
                <label>Description</label>
                <textarea class="form-control" formControlName="desc" rows="3"></textarea><br>
            </div><br>
            <button type="submit" class="btn btn-block btn-outline-primary" [disabled]="addArticle.invalid">Add Article</button>
            <hr>
        </form>
    </div><br>
    <!-- {{addArticle.value | json}} -->
    <div *ngFor="let article of articles">
        <h3 align="left">{{article.title}}</h3>
        <h4 align="left"><pre>{{article.desc}}</pre></h4>
        <h6 align="right">{{article.uname}}</h6>
        <hr>
    </div>
</div>
