<div class="container" align="center">
    <h1 (click)="showForm()" style="cursor: pointer;user-select: none;font-weight: bold;"><span style="background-color: rgba(red, green, blue,) ;display: inline-block;">Articles</span><span style="font-size: 0.9rem;">+</span></h1>
    <div @fade class="container w-75 articleForm pt-3 pb-3" *ngIf="this.addarticle" align="left">
        <form class="form-login" [formGroup]="addArticle" (ngSubmit)="addArticles()">
            <div class="form-group">
                <label>UserName</label>
                <input type="text" class="form-control" formControlName="uname" placeholder="Enter Username">
                <br>
                <label>Title</label>
                <input type="text" class="form-control" formControlName="title">
                <br>
                <label>Description</label>
                <textarea class="form-control" formControlName="desc" rows="3"></textarea>
            </div><br>
            <div class="d-grid">
                <button type="submit" class="btn btn-block btn-outline-secondary" [disabled]="addArticle.invalid">Add Article</button>
            </div>
        </form>
    </div><br>
    <!-- {{addArticle.value | json}} -->
    <div *ngFor="let article of articles">
        <div class="card mb-4 w-100" >
            <div class="card-body">
              <h2 class="card-title fs-3 text-start">{{article.title}}</h2>
              <div class="articleDisc">{{article.desc}}</div>
              <hr>
              <div class="card-text text-end">{{article.uname}}</div>
            </div>
        </div>
    </div>
</div>
