/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.navbar{
     justify-content: space-between;
}
span{
    padding-right: 1rem;
} */
/* .navbar-right{
    width: 100%;
    float: right;
} */
div{
    justify-content: space-between;
}
