<div class="container" align="center" style="height: 82%;">
    <h1 style="cursor: pointer;user-select: none;font-weight: bold;">Log In</h1>
    <div class="form1 w-75 p-4 text-start">
        <form [formGroup]="login" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" formControlName="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Password</label>
                <input type="password" formControlName="pswd" class="form-control" id="email">
            </div>
            <div class="d-grid">
                <button class="btn btn-secondary btn-block" type="submit" [disabled]="login.invalid">Sign In</button>
            </div>
        </form>
    </div>
</div>