/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
*{
    font-family: 'Special Elite', cursive !important;
    font-weight: bolder;
}
body{
    background-image:url("src\assets\YBhoZi.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;}

html,body{
    height: 100%;
    margin: 0;
}

