/* You can add global styles to this file, and also import other style files */
body{
    background-image:url("src\assets\imf.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
}

