<div class="container text-center" style="height: 82%;">
  <div class="text-typing mt-3">
    <p style="user-select: none; font-size: large;">Welcome to Stunalist...</p>
  </div>
  <div class="slogan text-center">
    <p class="sloganP">
      “Every secret of a writer's soul, every experience of his life, every quality of his mind, is written large in his works.”
    </p>
  </div>
  <div>
    <div class="text-typing" >
      <p style="font-size: medium;font-weight: bold;">Always be happy and positive...</p>
    </div>
    <p class="mt-3">Read & share Articles and Quotes</p>
  </div>
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    <a type="button" class="btn btn-md btn-outline-secondary" routerLink="/article">Articles</a>
    <a type="button" class="btn btn-md btn-outline-dark" routerLink="/quote">Quotes</a>
  </div>
</div>