.text-typing {
    /* padding:20px 30px; */
    /* font-family:monospace; */
    border-radius:50px;
    font-size: 1.4rem;
    padding: 3% 0;
}
.text-typing p {
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 4s steps(22,end) forwards,
    blink 1s infinite;
}
@keyframes typing {
    0% { width:0% }
    100% { width:100% }
}

.sloganP{
    padding: 3% 0;
    font-size: large;
    width: 50%; 
    display: inline-block;
}
 