<div class="container text-center" style="height: 82%;">
  <div class="text-typing" style="display: inline-block;">
    <p style="user-select: none;">Welcome to Stunalist...</p>
  </div>
  <div class="slogan text-center">
    <p class="sloganP">
      “Every secret of a writer's soul, every experience of his life, every quality of his mind, is written large in his works.”
    </p>
  </div>
  <div>
    <p style="font-size: medium;font-weight: bold;">Always be happy and positive.</p>
    <p>Read & share Articles and Quotes</p>
  </div>
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    <a type="button" class="btn btn-md btn-outline-secondary" routerLink="/article">Articles</a>
    <a type="button" class="btn btn-md btn-outline-dark" routerLink="/quote">Quotes</a>
  </div>
</div>